#app{
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tasks_title{
    font-size: 32px;
}

.task{
    width: 275px;
    max-height: 300px;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(189, 189, 189);
}

.task_info{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions{
    min-height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: first baseline;
}

.icon{
    cursor: pointer;
}

.task_title{
    font-size: 18px;
    font-weight: 500;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid rgb(182, 182, 182);
}

.check:hover{

    cursor: pointer;

    .check_icon{
        user-select: none;
        -webkit-user-drag: none;
        opacity: 1;
        width: 30px;
    }
}

.check_icon{
    user-select: none;
    -webkit-user-drag: none;
    opacity: 0;
    width: 30px;
    transition: 0.5s all ease;
}

#add_task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #ececec;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 10px 10px rgb(163, 163, 163);
}

#add_task:hover {
    background-color: #e3e3e3;
    transform: scale(1.05);
}